<!Doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- <input type="text" name="title" multiple="multiple"><br><br> -->
<ul>
	<li><%= posts.title %></li>
	<li><%= posts.content %></li>
	<form action="/start" method="post">
		<input type="hidden" name="title" value="<%= posts.title %>">
		<input type="hidden" name="content" value="<%= posts.content %>">
		<input type="submit" value="戻る">
	</form>
	<form action="/commit" method="post">
		<input type="hidden" name="title" value="<%= posts.title %>">
		<input type="hidden" name="content" value="<%= posts.content %>">
		<input type="submit" value="送信">
	</form>
</body>
</html>
